.left {
  height: 100%;
  width: 42.7083333vw;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}

.OptionsWrapper {
  position: absolute;
  direction: rtl;
  width: 31.458vw;
  box-shadow: inset -2px 2px 7px rgba(0, 0, 0, 0.28);
  height: 68.704vh;
  overflow-y: scroll;
  /* z-index: 999; */
  margin-top: 4.351vh;
}

.listOfNames {
  padding: 3.981vh 1.51vw;
  direction: ltr;
}

.wrapIconAndInput{
  display: flex;
  align-items: center;
}

.wrapIconAndInput:hover{
  color: rgba(130, 130, 130, 1);
}

.lighter{
  color: rgba(130, 130, 130, 1);
}

.container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  padding-right: 15px;
  cursor: pointer;
  font-size: 22px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 3px solid #D6D6D6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark span {
  height: 15px;
  width: 15px;
  background: #F2F2F2;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark span {
  background-color: #000000;
}

.editIcon{
  font-size: 10px;
display: none;
align-items: center;
color: rgba(130, 130, 130, 1);
cursor: pointer;
}

.container:hover + .link .editIcon{
  display: flex;
}

.editIcon:hover{
  color: rgba(51, 51, 51, 1);
  display: flex;
}

.editIcon .icon{
  height: 7px;
  width: 7px;
  padding: 1px;
  border: 1px solid rgba(253, 199, 51, 1);
  border-radius: 50%;
  transform: rotate(0.3turn);
  margin-right: 5px;
}